html {
  font-size: 18px;
  line-height: 1.4;
}

body {
  font-family: "Helvetica", sans-serif;
}

header {
  background-color: white;
}

.container {
  width: 1080px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

nav section {
  display: flex;
  align-items: center;
}

.logo {
  height: 32px;
  margin-left: 24px;
  font-size: 24px;
}

.logo span:nth-child(even) {
  font-weight: bold;
}

.logo span:nth-child(odd) {
  font-weight: light;
  color: grey;
}

.logo img {
  height: 32px;
  width: auto;
}

ul {
  margin-right: 16px;
}

ul li {
  display:inline-block;
  margin: 8px;
  font-size: 20px;
}

ul li a:hover {
  color: grey;
}

ul li a:active {
  color: darkgrey;
}

.banner {
  background-color: lightgrey;
  display: flex;
  align-items: center;
}

.banner img {
  width: 60%;
  margin: 32px 24px;
}

.tagline {
  width: 30%;
  line-height: 1.2;

}

 h1 {
  color: black;
  font-weight: bold;
  font-size: 36px;
  margin: 32px 0px 24px 0px ;
}

h3 {
  font-weight: bold;
  margin-bottom: 0px;
  font-size: 24px;
}

h4, p {
  margin: 24px 0px;
}

h4 {
  font-size: 22px;
}

h6 {
  font-size: 14px;
  font-weight: bold;
}

.btn {
  display: block;
  text-align: center;
  background-color: darkgrey;
  border: black solid 1px;
  color: white;
  padding: 8px;
  margin: 15px 0px;
}

.btn:hover {
  background-color: grey;
}

.btn:active {
  background-color: black;
}

.info {
  background-color: white;
  display: flex;
}

.main {
  margin: 32px 24px;
  width: 60%;
}

.main img {
  max-width: 100%;
}

.main p,
.content p {
  font-size: 18px;
  color: grey;
}



.tiles {
  margin-top: 24px;
  width: 35%;
}

.tile {
  display: flex;
  align-items: center;
  max-width: 100%;
  border: grey solid 1px;
}

.tile:hover {
  background-color: lightgrey;
}

.tile img {
  width: 35%;
  padding: 16px;
}

.content {
  display: flex;
  flex-direction: column;

}


.content  a {
  color: rgba(63, 200, 255, 1);
}

.courses {
  background-color: lightgrey;
  text-align: center;
}

.courses .body {
  padding: 32px 72px;
}

.courses h1 {
  margin-top: 0px;
  margin-bottom: 32px;
}


.courserow {
  display: flex;
  max-width: 100%;
}

.courserow img {
  max-width: 100%;
  height: auto;
}

.course {
  background-color: white;
  width: 30%;
  margin: 16px;
  text-align: left;
}

.course h3 {
  margin-top: 16px;
}

.course h3,
.course h4,
.course p {
  margin-left: 16px;
}

.course p {
  font-size: 16px;
}

.thesis {
  width: 100%;
}

.thesis .body {
  display: flex;
}

.thesis .body .main {
  margin: 0px;
  width: 60%;
  margin: 0px 24px;

}

video {
  max-width: 100%;
}

.thesis h1 {
  text-align: center;
  margin: 32px 0px;
}

.subsection {
  width: 35%;
}
